<!DOCTYPE html>
<html>
<head>
  <%- include('partials/head') %>
</head>
<body class="admin-screen">
  <%- include('partials/header') %>
  <%- include('partials/flashMessage') %>
  <%- include('partials/themesTab') %>
</body>
</html>
