<header class="main-header">
  <% if (settings.brand_logo) { %>
    <img src="<%= settings.brand_logo %>" alt="<%= settings.brand_name || 'Logo' %>" class="brand-logo">
  <% } else { %>
    <span class="brand-name"><%= settings.brand_name || '' %></span>
  <% } %>
</header>
