<div class="container admin-container employees-tabs">
  <h1>Employees</h1>
  <ul class="nav nav-tabs" id="employeesTabs">
    <li class="nav-item"><a href="#" class="nav-link active" data-pane="onboardingPane">Onboarding</a></li>
    <li class="nav-item"><a href="#" class="nav-link" data-pane="schedulePane">Scheduling</a></li>
    <li class="nav-item"><a href="#" class="nav-link" data-pane="hierarchyPane">Hierarchy</a></li>
  </ul>
  <div class="tab-content">
    <div class="employees-pane active" id="onboardingPane">
      <form id="employeeOnboardingForm">
        <div class="row g-2 mb-3">
          <div class="col-sm-4">
            <input type="text" class="form-control form-control-sm" name="name" placeholder="Employee Name" />
          </div>
          <div class="col-sm-4">
            <input type="text" class="form-control form-control-sm" name="position" placeholder="Position" />
          </div>
          <div class="col-sm-4">
            <input type="date" class="form-control form-control-sm" name="start_date" />
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Documents</label>
          <input type="file" class="form-control form-control-sm" name="documents" multiple />
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Save</button>
      </form>
    </div>
      <div class="employees-pane" id="schedulePane">
        <div class="row">
          <div class="col-md-3">
            <ul id="employeeList" class="list-group employee-list"></ul>
          </div>
          <div class="col-md-9">
            <div class="d-flex justify-content-end mb-2">
              <button id="toggleScheduleView" class="btn btn-sm btn-outline-primary">Monthly View</button>
            </div>
            <div id="scheduleGrid" class="table-responsive"></div>
          </div>
        </div>
        <div id="scheduleModal" class="modal d-none">
          <div class="modal-content modal-small">
            <button id="scheduleModalClose" class="btn-secondary">Close</button>
            <form id="scheduleForm">
              <input type="hidden" name="employeeId" />
              <div class="mb-2">
                <label class="form-label">Day</label>
                <select name="day" class="form-select form-select-sm">
                  <option value="0">Mon</option>
                  <option value="1">Tue</option>
                  <option value="2">Wed</option>
                  <option value="3">Thu</option>
                  <option value="4">Fri</option>
                  <option value="5">Sat</option>
                  <option value="6">Sun</option>
                </select>
              </div>
              <div class="mb-2">
                <label class="form-label">Start</label>
                <select name="start" class="form-select form-select-sm"></select>
              </div>
              <div class="mb-2">
                <label class="form-label">End</label>
                <select name="end" class="form-select form-select-sm"></select>
              </div>
              <button type="submit" class="btn btn-primary btn-sm">Save</button>
            </form>
          </div>
        </div>
      </div>
      <div class="employees-pane" id="hierarchyPane">
        <p>Coming soon...</p>
      </div>
    </div>
</div>
<script defer src="/employeesTab.js"></script>
