<div class="container admin-container employees-tabs">
  <h1>Employees</h1>
  <ul class="nav nav-tabs" id="employeesTabs">
    <li class="nav-item"><a href="#" class="nav-link active" data-pane="onboardingPane">Onboarding</a></li>
    <li class="nav-item"><a href="#" class="nav-link" data-pane="schedulePane">Scheduling</a></li>
    <li class="nav-item"><a href="#" class="nav-link" data-pane="hierarchyPane">Hierarchy</a></li>
  </ul>
  <div class="tab-content">
    <div class="employees-pane active" id="onboardingPane">
      <form id="employeeOnboardingForm">
        <div class="row g-2 mb-3">
          <div class="col-sm-4">
            <input type="text" class="form-control form-control-sm" name="name" placeholder="Employee Name" />
          </div>
          <div class="col-sm-4">
            <input type="text" class="form-control form-control-sm" name="position" placeholder="Position" />
          </div>
          <div class="col-sm-4">
            <input type="date" class="form-control form-control-sm" name="start_date" />
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Documents</label>
          <input type="file" class="form-control form-control-sm" name="documents" multiple />
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Save</button>
      </form>
    </div>
    <div class="employees-pane" id="schedulePane">
      <div id="scheduleGrid" class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Employee</th>
              <th>Mon</th>
              <th>Tue</th>
              <th>Wed</th>
              <th>Thu</th>
              <th>Fri</th>
              <th>Sat</th>
              <th>Sun</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Drag employees here</td>
              <td colspan="7" class="text-center">Schedule grid</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="employees-pane" id="hierarchyPane">
      <p>Coming soon...</p>
    </div>
  </div>
</div>
<script defer src="/employeesTab.js"></script>
