<% if (req.query.msg) { %>
<div class="alert alert-success alert-dismissible fade show m-2" role="alert">
  <%= req.query.msg %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<script defer src="/flashMessage.js"></script>
<% } %>
<% if (req.query.err) { %>
<div class="alert alert-danger alert-dismissible fade show m-2" role="alert">
  <%= req.query.err %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<script defer src="/flashMessage.js"></script>
<% } %>
