<% if (req.query.msg) { %>
<div class="alert alert-success alert-dismissible fade show m-2" role="alert">
  <%= req.query.msg %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<script>
  const url = new URL(window.location);
  url.searchParams.delete('msg');
  history.replaceState(null, '', url);
</script>
<% } %>
