<nav class="navbar navbar-dark bg-primary mb-3">
  <div class="container-fluid">
    <%- include('../../partials/button', {
      type: 'button',
      id: 'menuToggle',
      variant: 'btn-primary',
      icon: 'bi bi-list'
    }) %>
    <a class="navbar-brand ms-2" href="/admin">FreeKDS Admin</a>
    <div class="ms-auto">
      <%- include('../../partials/nav-buttons') %>
    </div>
  </div>
</nav>
