<div id="sideNav" class="side-nav">
  <a href="#" class="nav-link open-tab" data-type="stations" title="Stations">
    <i class="bi bi-hdd-network"></i><span>Stations</span>
  </a>
  <a href="#" class="nav-link open-tab" data-type="menu" title="Menu">
    <i class="bi bi-list-ul"></i><span>Menu</span>
  </a>
  <a href="#" class="nav-link open-tab" data-type="theme" title="Theme">
    <i class="bi bi-palette"></i><span>Theme</span>
  </a>
  <a href="#" class="nav-link open-tab" data-type="inventory" title="Inventory">
    <i class="bi bi-box-seam"></i><span>Inventory</span>
  </a>
  <a href="/admin/suppliers" class="nav-link" title="Suppliers">
    <i class="bi bi-truck"></i><span>Suppliers</span>
  </a>
  <a href="/admin/purchase-orders" class="nav-link" title="Purchase Orders">
    <i class="bi bi-receipt"></i><span>Purchase Orders</span>
  </a>
</div>
